@model ShoppingCartViewModel
@{
    ViewBag.Title = "Cart";
}


<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                @*<th>Selected amount</th>*@
                <th>Movie</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-left">@line.Movie.Title</td>
                    <td class="text-right">@line.Movie.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Movie.Price).ToString("c"))
                    </td>
                    <td class="text-center">
                    <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-movieId="@line.Movie.Id">
                        <i class="fas fa-times text-danger remove"></i>
                    </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-info mr-1" asp-controller="Movies" asp-action="Index">Back To Movies</a>
            <a class="btn btn-success ml-1" asp-controller="Order" asp-action="Checkout">Check Out</a>
        </div>
    </div>
</div>